.main-1{
  max-width: 500px;
  margin: auto;
  height: auto;
  background: #EEEEEE;
  padding-bottom: 26px; 
  }
.main-1 .header{
  background: #337AB7;
  height: 73px;
}
.main-1 .header .fa-folder{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .fa-buysellads{
  color: #fff;
  padding-left: 12px;
}
.main-1 .header .p{
  color: #fff;
  float: right;
  padding-right: 12px;

}
.main-1 .header .p-2{
  color: #fff;
  float: right;
  margin-top: 36px;
  margin-right: -26px;
  font-size: 18px;
}
.main-1 .header .p-3{
  color: #fff;
  margin-top: 14px;
  margin-left: 20px;
  font-size: 18px;
}
.main-1 .header .fa-search{
  padding-right: 20px;
}
.main-1 .header .fa-home{
  font-size: 22px;
}
.main-1 .header .p-3 i{
  font-size: 16px;
    padding-right: 26px;
}
.first-div{
    width: 100%;
    height: auto;
    box-shadow: 1px 6px 3px -3px rgb(0 0 0 / 30%);
    background: #FFFFFF;
    border-radius: 0;
    padding-top: 12px;
}
.date p{
 padding: 12px 10px;
 background: #FE6378;
 margin: 12px 12px;
 border-radius: 6px;
 color: #fff;
 text-align: center;
 font-size: 17px;
}
.first-div .radio-button{
  margin: 0 9px;
  margin-top: 16px;
}
.first-div .radio-button p {
  font-weight: bold;
  color: #60B1FE;
}
.first-div .radio-button p span{
  color: #337AB7;
  font-weight: bold;
  padding-right: 8px;

}
.first-div .radio-button .right-one{
 float: right;
}
.first-div .radio-button .right-one span{
  font-weight: bold;
}
.first-div .radio-button .right-one input{
  margin-right: 5px;
  font-weight: bold;
}
.first-div .date .fa-calendar{
  font-size: 20px;
  padding-right: 10px;
}
.parahraph{
  display: flex;
}
.parahraph p{
  margin-right: auto;
  color: #337AB7;
}
.parahraph .caret{
  margin-right: 20px;
  margin-top: 9px;
}
.not-packed{
  background: #FFFFFF;
    margin-top: 12px;
    margin-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: 10px solid #60B1FE;
    height: 146px;
    padding-left: 14px;
    padding-top: 16px;
}
.not-packed .span-1{
  color: #367CB8;
  font-size: 18px;
  font-weight: bold;
}
.not-packed .p-one{
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin-bottom: 0px;
}
.not-packed .p-one .span-2{
  font-size: 11px;
}
.not-packed .fa-users{
  color: gray;
}
.not-packed .fa-users span{
  color: #367CB8;
  font-weight: bold;
  font-size: 14px;
}
 .not-packed .button-right .btn{
  background: #F05050;
  color: #fff;
  font-weight: bold;
  float: right;
  margin-right: 30px;
  margin-top: -14px;
  padding: 9px;
 }
 .not-packed .button-right .P-TWO{
  color: gray;
  margin-top: 12px;
 }
 .not-packed .button-right .P-TWO span{
  color: #367CB8;
  font-size: 18px;
  font-weight: bold;
 }
.not-packed .wel{
  color: gray;
  float: right;
  font-weight: 100;
  font-size: 15px;
  margin-right: 30px;
}